<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/direccions/new">Elifaz</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/estaticas/acerca">Acerca de</a>
                    </li>
                    <li>
                        <a href="/contacts">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




<div class="container-fluid">
    <header class="jumbotron hero-spacer">
    <h1>Acerca de</h1>
</header>
	<div class="row">
		<div class="col-sm-12">
		    <ul>
			<h3 class="text-info text-left">
				<li>¿En donde estoy?</li>
			</h3>
			<p class="text-left">
				Esto es el acortador de URLs <strong>Elifaz</strong> usado bajo el dominio UPT (Universidad Politécnica Territorial), con el fin de hacer mas pequeñas direcciones de interes para que así sean mas sencilas de compartir. 
			</p>
			<h3 class="text-info text-left">
			<li>¿Cómo funciona?</li>
			</h3>
			<p class="text-left">
				<strong>Elifaz</strong> toma la dirección que introduce el usuario y genera 4 caracteres únicos al azar Base36(a-z...0-9) que redirigen a la primera permanentemente. 
			</p>
			<h3 class="text-info text-left">
			<li>¿Cuanto tiempo dura la dirección generada?</li>
			</h3>
			<p class="text-left">
				<strong>Elifaz</strong> garantiza la dirección generada por un periodo de 2 mes desde la última visita a la misma.  
			</p>
			<h3 class="text-info text-left">
			<li>¿Por qué se llama <strong>Elifaz</strong>?</li>
			</h3>
			<p class="text-left">
			    El número de URLs únicas que es capaz de generar el sistema son 1.679.616 que resulta de 36<sup>4</sup> ya que es una permutación del tipo n<sup>r</sup>. Y por casualidad nos encontramos que:
			    <blockquote>
				  <p>Ada dio a luz a <strong>Elifaz</strong> para Esaú</p>
				  <footer>Genesis 36:4</cite></footer>
				</blockquote>
			</p>
			<h3 class="text-info text-left">
			<li>¿Quien hizo esto?</li>
			</h3>
			<p class="text-left">
			 <strong>Elifaz</strong> es un desarrollo libre en el que cualquiera puede colaborar a través de <a href="http://github.com/ggangix/elifaz">GITHUB</a> iniciado por <a href="http://twitter.com/ggangix">Giuseppe Gangi</a> y potenciado
			 por la <a href="https://twitter.com/tilpea">Comunidad de Aprendizaje de Tecnologías Libres de Información</a> del programa de estudios abiertos de la <a href="http://uptm.edu.ve/">UPTM</a> 
			</p>
			</ul>
		</div>
	</div>